body {
    font-family: Arial, sans-serif;
    background-image: url("./images/1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options,
.game {
    margin-bottom: 20px;
}

#ZoneReponse {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
}

#BoutonValider, .controls button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

#BoutonValider:hover {
    background-color: #45a049;
}

#progressBar {
    width: 80%;
    background-color: #ddd;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
}

#progress {
    width: 0;
    height: 10px;
    background-color: #4CAF50;
}

#resultat {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.controls {
    margin-top: 20px;
}

.controls button {
    padding: 10px;
    font-size: 14px;
}